<div class="container">
  <!-- Encabezado -->
  <h1 class="display-4 text-center mb-4">Nuestras Publicaciones</h1>

  <!-- Lista de publicaciones -->
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-4">
        <div class="card-body">
          <!-- Directiva *ngFor para iterar sobre cada elemento 'post' en el arreglo 'posts' -->
          <div *ngFor="let post of posts" class="mb-4">
            <!-- Título de la publicación -->
            <h3 class="card-title">{{ post.title }}</h3>
            <!-- ID de la publicación -->
            <p class="card-text"><strong>ID:</strong> {{ post.id }}</p>
            
            <!-- Cuerpo de la publicación -->
            <p class="card-text">{{ post.body }}</p>
            <!-- Botones de acción si fuera necesario -->
            <div class="text-end">
              <button class="btn btn-sm btn-primary me-2">Editar</button>
              <button class="btn btn-sm btn-danger">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
