@import 'bootstrap/dist/css/bootstrap.min.css';

.display-4 {
  color: #333;
  font-weight: bold;
}

.lead {
  color: #666;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.card-text {
  color: #555;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: none;
  padding: 10px;
}

.text-muted {
  color: #888;
}
