<div class="container">
  <!-- Encabezado principal -->
  <h1 class="display-4 text-center mb-4">¡Bienvenido a nuestra página de inicio!</h1>
  
  <!-- Descripción de la empresa -->
  <p class="lead text-center">Somos una empresa comprometida con nuestros clientes, ofreciendo soluciones innovadoras y de calidad.</p>
  
  <!-- Botón de acción -->
  <div class="text-center">
    <button class="btn btn-lg btn-primary">¡Haz clic aquí!</button>
  </div>
  

  
  <!-- Sección de testimonios -->
  <div class="mt-5">
    <h2 class="h4">Testimonios de clientes satisfechos</h2>
    <div class="card-deck mt-3">
      <!-- Tarjeta de testimonio 1 -->
      <div class="card">
        <div class="card-body">
          <p class="card-text">¡Estoy muy contento con los resultados obtenidos! El equipo de nuestra empresa se esforzó al máximo para cumplir con nuestras expectativas.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">- Juan Pérez, CEO de ABC Company</small>
        </div>
      </div>
      <!-- Tarjeta de testimonio 2 -->
      <div class="card">
        <div class="card-body">
          <p class="card-text">¡Excelente atención al cliente y resultados de alta calidad! Sin duda, recomendaría esta empresa a mis colegas y amigos.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">- María Rodríguez, Gerente de Marketing</small>
        </div>
      </div>
    </div>
  </div>
</div>
