@import 'bootstrap/dist/css/bootstrap.min.css';

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Hace que los elementos de la lista se muestren en línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    background-color: #333; /* Color de fondo del menú */
    padding: 10px 0; /* Espacio interno en el menú */
  }
  
  .nav-menu li {
    margin-right: 20px; /* Espacio entre los elementos del menú */
  }
  
  .nav-menu li:last-child {
    margin-right: 0; /* Elimina el margen del último elemento del menú */
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px; /* Espacio interno en los enlaces */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .nav-menu li a:hover {
    background-color: #555; /* Color de fondo al pasar el mouse */
  }
  