<div class="container">
  <!-- Encabezado principal -->
  <h1 class="display-4 text-center mb-4">Contáctenos</h1>
  
  <!-- Descripción -->
  <p class="lead">¡Estamos aquí para responder a todas tus preguntas! Contáctanos a través de nuestros diferentes canales de atención:</p>
  
  <!-- Información de contacto -->
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <h5 class="mb-0">Nuestra línea de Whatsapp:</h5>
          <p class="mb-0">3017239480</p>
        </li>
        <li class="list-group-item">
          <h5 class="mb-0">Línea prioritaria de atención:</h5>
          <p class="mb-0">018000777777</p>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <!-- Formulario de contacto -->
      <form>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="mb-3">
          <label for="mensaje" class="form-label">Mensaje</label>
          <textarea class="form-control" id="mensaje" rows="3" placeholder="Escribe tu mensaje"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar mensaje</button>
      </form>
    </div>
  </div>
</div>
