<div class="container">
  <!-- Encabezado principal -->
  <h1 class="display-4 text-center mb-4">Nosotros</h1>
  
  <!-- Descripción de la empresa -->
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <p class="lead text-center">Somos un equipo apasionado por lo que hacemos. Nuestra misión es proporcionar soluciones innovadoras y de alta calidad para satisfacer las necesidades de nuestros clientes.</p>
    </div>
  </div>

  <!-- Sección de equipo -->
  <div class="row mt-5">
    <div class="col-lg-4 mb-4">
      <div class="card">
      
        <div class="card-body">
          <h5 class="card-title">Daniela</h5>
          <p class="card-text">Cargo 1</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card">
       
        <div class="card-body">
          <h5 class="card-title">Samuel</h5>
          <p class="card-text">Cargo 2.0</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">Luisa</h5>
          <p class="card-text">Cargo 67</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Misión y Visión -->
  <div class="row mt-5">
    <div class="col-lg-6">
      <h2 class="h4 mb-3">Nuestra Misión</h2>
      <p>Ser la mejor empresa en nuestro campo, brindando soluciones innovadoras y de calidad que superen las expectativas de nuestros clientes.</p>
    </div>
    <div class="col-lg-6">
      <h2 class="h4 mb-3">Nuestra Visión</h2>
      <p>Convertirnos en líderes reconocidos a nivel mundial en la industria, manteniendo siempre nuestro compromiso con la excelencia y la satisfacción del cliente.</p>
    </div>
  </div>
</div>
