@import 'bootstrap/dist/css/bootstrap.min.css';

.display-4 {
    color: #333;
    font-weight: bold;
  }
  
  .lead {
    color: #666;
  }
  

  .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    color: #333;
    font-weight: bold;
  }
  
  .card-text {
    color: #555;
  }
  
  .h4 {
    color: #333;
    font-weight: bold;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  